@using DauGia.Helper
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#wish").on('click', function () {
                $("#add_wish").submit();
            });
        });
        $(document).ready(function () {
            $("#auction").on('click', function () {
                $("#add_auction").submit();
            });

        })
    </script>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-warning alert-dismissible @if(ViewBag.Message != null){<text> text-danger</text>}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <strong>Lỗi !</strong>@ViewBag.Message
    </div>
}
<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid /images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    <a href="#" target="_blank"><img src="/images/productslide-1.jpg" width="400px" height="400px" /></a>
                                </div>
                                <ul class="pagination">
                                    <li><a href="#"><img src="/images/thumbnailslide-1.jpg" width="150px" height="150px" /></a></li>
                                    <li><a href="#"><img src="/images/thumbnailslide-2.jpg" width="150px" height="150px" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.TenSanPham </h2>
                    <div class="price">
                        <p><span>Giá : @string.Format("{0:N0},000 đ", Model.Gia)</span></p>
                    </div>
                    <div class="wish-list">
                        @if (DauGia.Helper.CurrentContext.IsLogged() == true)
                        {
                            <form id="add_wish" method="post" action="@Url.Action("AddWist", "Manager")">
                                <input type="hidden" name="IdProduct" value="@Model.MaSanPham" />
                                <a href="javascript:;" class="btn btn-primary" id="wish">Thêm danh mục ưu thích</a>
                            </form>
                           
                        }

                      
                    </div>
                </div>
                @if (DauGia.Helper.CurrentContext.IsLogged() == true)
                {
                    <form id="add_auction" method="post" action="@Url.Action("Add", "Auction")">
                        <div class="form-group">
                            <span><label>Bạn muốn đấu giá với số tiền<span class="red">*</span></label></span>
                            <input type="hidden" name="productID" value="@Model.MaSanPham" />
                            <input type="text" name="priceAuction" id="price">
                        </div>
                        <div class="form-group">
                            <a href="javascript:;" class="btn btn-success" id="auction"> Đấu Giá</a>
                        </div>
                    </form>
                }
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>